# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/versusxi/versusx_info"
PassengerBaseURI "/"
PassengerNodejs "/home/versusxi/nodevenv/versusx_info/16/bin/node"
PassengerAppType node
PassengerStartupFile index.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END