
body {
  background-color: #072B36 !important; 
  /*background-image: linear-gradient(180deg, #072B36 0%, #031E26 100%);*/
  
}

/* ::-webkit-scrollbar {
  height: 6px;
} */

::-webkit-scrollbar-thumb:horizontal{
  background: #6C6D6D;
  border-radius: 3px;
}